<% content_for :title, "Items" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Items</h1>
    <%= link_to "New item", new_item_path, class: "fixed inset-x-30 bottom-6 p-4 w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

<div class="image-grid mb-20">
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <% if item.item_cover.attached? %>
        <%= image_tag item.item_cover.variant(:wardrobe), class: "grid-image" %>
      <% else %>
        <%= render item %>
      <% end %>
    <% end %>
  <% end %>
</div>